<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>add</h1>

<form th:action="@{/product/save}" method="post" enctype="multipart/form-data">
    <input type="text" name="id" placeholder="Product ID" required>
    <input type="text" name="name" placeholder="Product Name" required>
    <input type="text" name="price" placeholder="Price" required>
    <input type="number" name="quantity" placeholder="Quantity" required>
    <input type="file" name="file" accept="image/*">
    <button type="submit">Save</button>
</form>
</body>
</html>